* {
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    padding: 0;
    margin: 0;
  }

  .sp{
    display: none;
  }

  @media screen and (max-width:600px) {
    .pc{
      display: none;
    }
    .sp{
      display: block;
    }
  }
  
  /*目次部分*/
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 64px;
    background: #fff ;
    box-shadow: 0 2px 8px rgba(0,0,0,.3);
    padding: 8px;
    z-index: 99;
  }

  .titleLogo img{
    margin: auto;
    display: block;
    height: 48px;
    padding: 0 50px 0 150px;
    border-right: solid 1px gray;
}
  
  header > ul {
    display: flex;
    list-style: none; /* 行頭の箇条書き記号を消す. */
    margin: 0;
    padding: 0;
    height: 48px;
    cursor: default; /* マウスカーソルを文字選択から通常の矢印に変更. */
  }
  
  header > ul > li {
    position: relative;
    padding: 0 6px;
    font-weight: bold;
  }
  header > ul > li:first-child {
    padding-left: 0;
  }
  header > ul > li:last-child {
    padding-right: 0;
  }
  
  header > ul > li > span {
    display: inline-block;
    height: 36px;
    line-height: 36px;
    font-size: 20px;
    padding: 0 12px;
    margin: 6px 0;
    border-radius: 4px;
    white-space: nowrap;
    margin-left: 30px;
  }

  /*カテゴリ名にホバーした時に背景色にハイライトを付ける*/
  header > ul > li:hover > span {
    background-color: rgba(0,0,0,.075);
  }

  header > ul > li {
    position: relative; /* relative は通常の位置を基準にする. */
    padding: 0 6px;
  }
  
  header > ul li > span > a{
    color: inherit;
    font-weight: bold;
    text-decoration: none;
  }

  @media screen and (max-width:600px) {
    .header-flex{
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .headerSubtitle p{
      font-size: 20px;
      font-weight: bold;
      margin: 0 15px;
    }
    .titleLogo img{
      height: 36px;
      margin: 6px 0;
      padding: 0 10px;
    }

    /* チェックボックスを非表示にする */
.drawer_hidden {
  display: none;
}

/* ハンバーガーアイコンの設置スペース */
.drawer_open {
  display: flex;
  height: 60px;
  width: 60px;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 100;/* 重なり順を一番上にする */
  cursor: pointer;
}

/* ハンバーガーメニューのアイコン */
.drawer_open span,
.drawer_open span:before,
.drawer_open span:after {
  content: '';
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background: #333;
  transition: 0.5s;
  position: absolute;
}

/* 三本線の一番上の棒の位置調整 */
.drawer_open span:before {
  bottom: 8px;
}

/* 三本線の一番下の棒の位置調整 */
.drawer_open span:after {
  top: 8px;
}

/* アイコンがクリックされたら真ん中の線を透明にする */
#drawer_input:checked ~ .drawer_open span {
  background: rgba(255, 255, 255, 0);
}

/* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
#drawer_input:checked ~ .drawer_open span::before {
  bottom: 0;
  transform: rotate(45deg);
}

#drawer_input:checked ~ .drawer_open span::after {
  top: 0;
  transform: rotate(-45deg);
}
  
/* メニューのデザイン*/
.nav_content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%; /* メニューを画面の外に飛ばす */
  z-index: 99;
  background: #fff;
  transition: .5s;
}

/* メニュー黒ポチを消す */
.nav_list {
  list-style: none;
}

/* アイコンがクリックされたらメニューを表示 */
#drawer_input:checked ~ .nav_content {
  left: 0;/* メニューを画面に入れる */
}

.nav_list img{
  width: 50%;
  display: block;
  margin: auto;
  margin-top: 20px;
}

.nav_item a{
  font-size: 30px;
  color: inherit;
  font-weight: bold;
  text-decoration: none;
}

.nav_list > li {
  width: fit-content;
  margin: auto;
  padding: 20px;
}
  }

/*記事部分*/
article{
  margin-top: 64px;
}

h2{
  text-align: center;
  font-size: 35px;
  margin: 0 20px;
  padding: 20px;
}

h4{
  text-align: center;
  margin-top: -20px;
  font-size: 20px;
  color: cornflowerblue;
  padding-bottom: 10px;
}

p{
  font-size: 18px;
  margin: 20px;
  line-height: 300%;
}

h3{
  text-align: center;
  font-size: 25px;
  margin: 50px 35% 20px 35%;
  padding: 1rem 2rem;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

.flex{
  display: flex;
  align-items: center;
  justify-content: center;
}

.Freepic img{
  width: 400px;
  margin: 0 10px;
}

.center{
  text-align: center;
}

.introduction p{
  font-size: 22px;
  padding: 0;
}

.redDesign{
  background-color: darkred;
  padding: 50px;
  margin: 30px;
  border-radius: 10px;
}

.redDesign p{
  color: #fff;
  margin-top: -10px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

@media screen and (max-width:600px) {
  h2{
    font-size: 25px;
    margin: 0;
    padding: 10px;
  }

  h4{
    font-size: 16px;
    margin-top: -10px;
    padding-bottom: 0;
  }

  p{
    font-size: 16px;
    line-height: 250%;
  }

  h3{
    font-size: 20px;
    margin: 20px 10px;
  }

  .flex{
    display: block;
    text-align: center;
  }

  .Freepic img{
    width: 50%;
    margin: 0;
  }

  .redDesign{
    padding: 20px 40px;
    margin: 15px 20px;
    text-align: center;
  }

  .redDesign p{
    text-align: left;
    display: inline-block;
  }

  .introduction{
    text-align: center;
    margin: 0 15px;
  }

  .introduction p{
    font-size: 16px;
    text-align: left;
    display: inline-block;
  }
}