.concept ul{
    font-size: 25px;
    width: fit-content;
    border: 5px dashed slategrey;
    margin: auto;
    margin-bottom: 60px;
    padding: 40px 60px 40px 60px;
    border-radius: 30px;
}

.concept li{
    padding: 10px;
}