.link a{
    color: inherit;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    margin: 120px;
    padding: 10px;
    border: black double 10px;
    border-radius: 10px;
    background-color: #fff;
}

.checkIcon{
    margin-bottom: -8px;
    padding-right: 10px;
  }

@media screen and (max-width:600px) {
  .link a{
    font-size: 12px;
    margin: 0;
  }

  .checkIcon{
    width: 30px;
  }
}

.redDesign p{
    margin-bottom: 25px;
}