.topPage{
    margin-bottom: 40px;
}

.topPage img{
    margin: auto;
    display: block;
    padding-top: 50px;
    width: 50%;
}

.topPage p{
    text-align: center;
    line-height: 150%;
    margin: 0;
    padding: 0;
}

.subtitle1{
    font-weight: bold;
    font-size: 50px;
}

.subtitle2{
    font-size: 40px;
}

.about p{
    font-size: 20px;
}

.document img{
    width: 50%;
}
  
.about > .document p{
  margin-top: -5px;
  font-size: 12px;
  line-height: 100%;
}

@media screen and (max-width:600px) {
  .subtitle1{
    font-size: 30px;
  }
  .subtitle2{
    font-size: 20px;
  }

  .about p{
    font-size: 16px;
  }
}