h1{
    text-align: center;
    font-size: 100px;
    padding: 15px;
    margin-top: 300px;
}

.topPage img{
    margin: auto;
    display: block;
    padding-top: 100px;
    padding-bottom: 50px;
    width: 50%;
}

.about p{
    font-size: 20px;
}

.document img{
    width: 50%;
}
  
.about > .document p{
  margin-top: -5px;
  font-size: 12px;
}