.supportActivity ul{
    font-size: 25px;
    width: fit-content;
    border: 5px dashed green;
    margin: auto;
    margin-bottom: 60px;
    padding: 30px 60px 30px 60px;
    border-radius: 30px;
}

.supportActivity li{
    padding: 10px;
}